.registrations-wrapper {
  display: flex;
  height: 100vh;
}

.registrations-container {
  flex: 1;
  display: flex;
  box-sizing: border-box;
}

/* left */
.registrations-left-panel {
  background-color: #111111;
  background-image: url(../../assets/images/content1.jpeg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  flex: 1;
}

.registrations__content {
  position: relative;
  box-sizing: border-box;
  padding: 8% 10%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #ffffff;
}

.registrations__content:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #111111;
  opacity: 0.4;
  z-index: -1;
}

.registrations__logo {
  width: 36px;
  margin-top: 0;
  margin-bottom: 24px;
}

.registrations__title {
  margin: 0;
  margin-top: 30px;
  margin-bottom: 16px;
  font-size: 48px;
  font-weight: 700;
  line-height: 1;
}

.registrations__sub-title {
  font-size: 24px;
  line-height: 1.35;
  font-weight: 400;
}

.registrations__credit {
  font-size: 15px;
  margin: 16px 0;
}

/* right */
.registrations-right-panel {
  flex-basis: 60%;
  display: flex;
  padding: 80px 8% 20px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}

.registrations-form {
  width: 100%;
}

.row {
  margin-left: -12px;
  margin-right: -12px;
}

.col-xs-12 {
  width: 100%;
  position: relative;
  min-height: 1px;
  padding-left: 12px;
  padding-right: 12px;
}

.text-center {
  padding-bottom: 45px;
  text-align: center !important;
}

.text-center .alpha {
  font-weight: 700;
  font-size: 46px;
  line-height: 1.2;
  margin: 0 0 16px;
}
.text-center p {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.6;
  margin: 16px 0;
}

.col-xs-6 {
  width: 50%;
  float: left;
  position: relative;
  min-height: 1px;
  padding-left: 12px;
  padding-right: 12px;
}

.form-group {
  margin-bottom: 30px;
}

.form-group input:focus {
  outline: none;
  border-color: #000;
}

.form-control {
  display: block;
  width: 100%;
  height: 40px;
  padding: 6px 12px;
  margin-top: 5px;
  font-size: 15px;
  line-height: 1.6;
  color: #111111;
  background-color: transparent;
  background-image: none;
  border: 1px solid #767676;
  border-radius: 3px;
  -webkit-transition: border-color ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s;
}

.form-btn {
  color: #ffffff;
  background-color: #111111;
  width: 100%;
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  text-decoration: none;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.02), 0 1px 1px rgba(0, 0, 0, 0.06);
  padding: 9px 18px;
  font-size: 15px;
  line-height: 1.6;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: background-color 0.1s ease-in-out,
    border-color 0.1s ease-in-out, color 0.1s ease-in-out;
  transition: background-color 0.1s ease-in-out, border-color 0.1s ease-in-out,
    color 0.1s ease-in-out;
}

.text-secondary {
  margin-left: 4px;
  margin-right: 4px;
  color: #767676;
}

.zeta {
  display: inline-block;
  font-size: 13px;
  line-height: 18px;
  width: 100%;
  text-align: center;
  margin-top: 10px;
}

.form-error {
  font-size: 10px;
  color: #f1403c;
}

@media (max-width: 768px) {
  .registrations-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .registrations-left-panel {
    background-image: url(../../assets/images/content2.jpeg);
  }
}
@media (max-width: 576px) {
  .registrations__content {
    padding: 12px;
    max-height: 300px;
  }
  .registrations__logo {
    width: 32px;
    height: 32px;
  }
  .registrations__title {
    font-size: 30px;
  }
  .registrations__sub-title {
    font-size: 18px;
  }
  .registrations__credit {
    display: none;
  }
  .registrations-left-panel {
    background-image: url(../../assets/images/content2.jpeg);
  }
  .text-center .alpha {
    font-size: 28px;
  }
}
