.account {
  max-width: 1320px;
  padding: 32px;
  max-width: 400px;
}
.choose-before {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-end;
}
.Edit-account-header {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 24px;
  color: #0d0c22;
  display: block;
  margin: 20px 0;
}
.avatar-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.avatar-icon {
  width: 100%;
  height: 100%;
}
.avatar-form-choose {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  padding: 0 16px;
  background-color: #0d0c22;
  color: #fff;
  border-radius: 6px;
  cursor: pointer;
  margin-left: 20px;
}
.avatar-form-choose:nth-child(3) {
  background-color: #ea4c89;
}
.avatar-form-choose:hover {
  opacity: 0.9;
}
.choose-then {
  margin-top: 20px;
  display: flex;
}
.choose-then .avatar-form-choose {
  margin-left: 0px;
  margin-right: 10px;
}
.avatar-form-input {
  display: none;
}
.margin-bottom-36 {
  margin-bottom: 38px;
}
.edit-account-form-submit {
  border: 0;
  background-color: transparent;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 92px;
  height: 40px;
  padding: 0 16px;
  background-color: #ea4c89;
  color: #fff;
  border-radius: 6px;
  cursor: pointer;
}
input {
  display: inline-block;
  margin-right: 15px;
  margin-bottom: 20px;
  border: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 40px;
  padding: 10px 16px;
  outline: none;
  border-radius: 8px;
  -webkit-transition: background-color 200ms ease, outline 200ms ease, color 200ms ease, -webkit-box-shadow 200ms ease;
  transition: background-color 200ms ease, outline 200ms ease, color 200ms ease, -webkit-box-shadow 200ms ease;
  transition: background-color 200ms ease, outline 200ms ease, color 200ms ease, box-shadow 200ms ease;
  transition: background-color 200ms ease, outline 200ms ease, color 200ms ease, box-shadow 200ms ease,
    -webkit-box-shadow 200ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: #0d0c22;
  background-color: #f3f3f4;
}
.account .form-error {
  color: #f1403c;
  position: absolute;
  bottom: 5px;
  left: 0;
  font-size: 12px;
  cursor: text;
  transition: opacity 0.25s ease;
  z-index: 1;
}
.edit-account-form-error {
  color: #f1403c;
  position: absolute;
  bottom: 6px;
  left: 0;
  font-size: 12px;
  cursor: text;
  transition: opacity 0.25s ease;
  z-index: 1;
}
.input-box {
  position: relative;
}
