.home-page {
  display: grid;
  grid-template-columns: 96px 1fr;
  grid-template-rows: 96px 1fr;
  min-height: 100vh;
  grid-template-areas: 's h' 's m';
}
.home-page .header {
  grid-area: h;
}
.home-page .sidebar {
  grid-area: s;
}
.home-page .home-page_main {
  grid-area: m;
}
@media (max-width: 767px) {
  .home-page {
    grid-template-rows: 64px auto 64px;
    grid-template-areas: 'h h' 'm m' 's s';
  }
  .home-page .sidebar {
    width: 100%;
    height: 64px;
    bottom: 0;
  }
}
