/* 主区域 */
.upload-picture_main {
  display: flex;
  margin: 32px;
  height: 100%;
}
.upload-picture_main form {
  display: grid;
  grid-template-columns: 600px 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 'content picture' 'publish publish';
}
.upload-picture_main form .content {
  width: 570px;
  grid-area: content;
}
.upload-picture_main form .content table {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  color: #0d0c22;
  display: block;
  margin-bottom: 10px;
  margin-top: 30px;
}
.upload-picture_main form .content input {
  border: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 40px;
  padding: 10px 16px;
  outline: none;
  border-radius: 8px;
  -webkit-transition: background-color 200ms ease, outline 200ms ease, color 200ms ease, -webkit-box-shadow 200ms ease;
  transition: background-color 200ms ease, outline 200ms ease, color 200ms ease, -webkit-box-shadow 200ms ease;
  transition: background-color 200ms ease, outline 200ms ease, color 200ms ease, box-shadow 200ms ease;
  transition: background-color 200ms ease, outline 200ms ease, color 200ms ease, box-shadow 200ms ease, -webkit-box-shadow 200ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: #0d0c22;
  background-color: #f3f3f4;
}
.upload-picture_main form .content textarea {
  resize: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 40px;
  padding: 10px 16px;
  outline: none;
  border-radius: 8px;
  -webkit-transition: background-color 200ms ease, outline 200ms ease, color 200ms ease, -webkit-box-shadow 200ms ease;
  transition: background-color 200ms ease, outline 200ms ease, color 200ms ease, -webkit-box-shadow 200ms ease;
  transition: background-color 200ms ease, outline 200ms ease, color 200ms ease, box-shadow 200ms ease;
  transition: background-color 200ms ease, outline 200ms ease, color 200ms ease, box-shadow 200ms ease, -webkit-box-shadow 200ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: #0d0c22;
  background-color: #f3f3f4;
  border: 1px solid transparent;
  min-height: 108px;
}
.upload-picture_main form .content .choose-tag {
  color: #fff;
  background-color: #93d5dc;
  margin-top: 5px;
  padding: 5px 20px;
  cursor: pointer;
  display: inline-block;
  border-radius: 5px;
}
.upload-picture_main form .content .content-tags {
  padding: 20px 0px 10px;
  border-radius: 5px;
}
.upload-picture_main form .content .content-tags span {
  margin-right: 8px;
  padding-right: 8px;
  padding-left: 8px;
  margin-bottom: 8px;
  border-radius: 5px;
  font-size: 14px;
  transition: all 0.1s ease-in-out;
  text-transform: capitalize;
  display: inline-block;
  line-height: 26px;
  color: #fff;
  background-color: #ff7675;
  cursor: not-allowed;
}
.upload-picture_main form .content .delete-tages-icon {
  cursor: pointer;
}
.upload-picture_main form .content .delete-tages-icon:hover {
  color: #000;
}
.upload-picture_main form .picture {
  grid-area: picture;
  position: relative;
}
.upload-picture_main form .picture .picture-style {
  width: 600px;
  height: 420px;
  margin-top: 30px;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
}
.upload-picture_main form .picture .picture-style .image-preview {
  max-width: 100%;
  max-height: 100%;
}
.upload-picture_main form .picture .picture-style label {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #ececec;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.upload-picture_main form .picture .picture-style label .image-preview {
  max-width: 100%;
  max-height: 100%;
}
.upload-picture_main form .picture .picture-style label .image-icon {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  cursor: pointer;
  background: linear-gradient(rgba(223, 230, 233, 0), rgba(223, 230, 233, 0), rgba(223, 230, 233, 0.1), rgba(223, 230, 233, 0.2));
  color: #fff;
}
.upload-picture_main form .picture .picture-style label .icon-size-32 {
  width: 32px;
  height: 32px;
}
.upload-picture_main form .picture .picture-style label .image-upload-progress {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 500;
  max-width: 100%;
  width: 100%;
  height: 100%;
  /* background: hsla(0, 0%, 3%, 0.1); */
  /* 半透明值 */
  background-color: #000;
  filter: alpha(opacity=60);
  -moz-opacity: 0.6;
  opacity: 0.6;
  color: #fff;
}
.upload-picture_main form .picture .picture-style label .image-upload-await {
  display: flex;
  align-items: flex-end;
  /* 省略号动画 */
  /* :not(:required) hides these rules from IE9 and below */
}
@-moz-keyframes throbber-loader {
  0% {
    background: #c2c0c0;
  }
  10% {
    background: #000000;
  }
  40% {
    background: #ffffff;
  }
}
@-webkit-keyframes throbber-loader {
  0% {
    background: #ffffff;
  }
  10% {
    background: #000;
  }
  40% {
    background: #ffffff;
  }
}
@keyframes throbber-loader {
  0% {
    background: #ffffff;
  }
  10% {
    background: #000;
  }
  40% {
    background: #ffffff;
  }
}
.upload-picture_main form .picture .picture-style label .image-upload-await .throbber-loader:not(:required) {
  -moz-animation: throbber-loader 2000ms 300ms infinite ease-out;
  -webkit-animation: throbber-loader 2000ms 300ms infinite ease-out;
  animation: throbber-loader 2000ms 300ms infinite ease-out;
  background: #ffffff;
  display: inline-block;
  position: relative;
  text-indent: -9999px;
  width: 6px;
  height: 6px;
  margin: 0 25px;
  bottom: 3px;
}
.upload-picture_main form .picture .picture-style label .image-upload-await .throbber-loader:not(:required):before,
.upload-picture_main form .picture .picture-style label .image-upload-await .throbber-loader:not(:required):after {
  background: #ffffff;
  content: '\x200B';
  display: inline-block;
  width: 6px;
  height: 6px;
  position: absolute;
  top: 0;
}
.upload-picture_main form .picture .picture-style label .image-upload-await .throbber-loader:not(:required):before {
  -moz-animation: throbber-loader 2000ms 150ms infinite ease-out;
  -webkit-animation: throbber-loader 2000ms 150ms infinite ease-out;
  animation: throbber-loader 2000ms 150ms infinite ease-out;
  left: -1em;
}
.upload-picture_main form .picture .picture-style label .image-upload-await .throbber-loader:not(:required):after {
  -moz-animation: throbber-loader 2000ms 450ms infinite ease-out;
  -webkit-animation: throbber-loader 2000ms 450ms infinite ease-out;
  animation: throbber-loader 2000ms 450ms infinite ease-out;
  right: -1em;
}
.upload-picture_main form .picture .picture-style_file {
  display: none;
}
.upload-picture_main form .publish {
  width: 380px;
  margin-bottom: 20px;
  grid-area: publish;
}
.upload-picture_main form .publish .form-btn {
  color: #ffffff;
  background-color: #111111;
  width: 100%;
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  text-decoration: none;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.02), 0 1px 1px rgba(0, 0, 0, 0.06);
  padding: 9px 18px;
  font-size: 15px;
  line-height: 1.6;
  border-radius: 8px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: background-color 0.1s ease-in-out, border-color 0.1s ease-in-out, color 0.1s ease-in-out;
  transition: background-color 0.1s ease-in-out, border-color 0.1s ease-in-out, color 0.1s ease-in-out;
}
@media (max-width: 1410px) {
  .upload-picture_main form {
    grid-template-columns: 550px 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .upload-picture_main form .content {
    width: 520px;
  }
  .upload-picture_main form .picture .picture-style {
    width: 550px;
    height: 400px;
  }
  .upload-picture_main form .publish {
    width: 360px;
  }
}
@media (max-width: 1300px) {
  .upload-picture_main {
    display: flex;
    justify-content: center;
    padding: 0px;
    margin: 0;
  }
  .upload-picture_main form {
    grid-template-columns: 711px 1fr;
    grid-template-rows: 400px auto 1fr;
    grid-template-areas: 'picture picture' 'content content' 'publish publish';
  }
  .upload-picture_main form .content {
    width: 711px;
  }
  .upload-picture_main form .picture .picture-style {
    width: 711px;
    height: 400px;
    margin-top: 2px;
  }
  .upload-picture_main form .publish {
    margin-top: 25px;
    width: 711px;
  }
}
@media (max-width: 1024px) {
  .upload-picture_main {
    display: flex;
    justify-content: center;
    padding: 0px;
  }
  .upload-picture_main form {
    grid-template-columns: 580px 1fr;
    grid-template-rows: 330px auto 1fr;
    grid-template-areas: 'picture picture' 'content content' 'publish publish';
  }
  .upload-picture_main form .content {
    width: 580px;
  }
  .upload-picture_main form .picture .picture-style {
    width: 580px;
    height: 330px;
    margin-top: 2px;
  }
  .upload-picture_main form .publish {
    margin-top: 25px;
    width: 580px;
  }
}
@media (max-width: 740px) {
  .upload-picture_main {
    display: flex;
    justify-content: center;
    padding: 0px;
  }
  .upload-picture_main form {
    grid-template-columns: 460px 1fr;
    grid-template-rows: 260px auto 1fr;
    grid-template-areas: 'picture picture' 'content content' 'publish publish';
  }
  .upload-picture_main form .content {
    width: 460px;
  }
  .upload-picture_main form .picture .picture-style {
    width: 460px;
    height: 260px;
    margin-top: 2px;
  }
  .upload-picture_main form .publish {
    margin-top: 25px;
    width: 460px;
  }
}
@media (max-width: 576px) {
  .upload-picture_main {
    display: flex;
    justify-content: center;
    padding: 0px;
  }
  .upload-picture_main form {
    grid-template-columns: 360px 1fr;
    grid-template-rows: 225px auto 1fr;
    grid-template-areas: 'picture picture' 'content content' 'publish publish';
  }
  .upload-picture_main form .content {
    width: 360px;
  }
  .upload-picture_main form .picture {
    height: 225px;
  }
  .upload-picture_main form .picture .picture-style {
    width: 360px;
    height: 225px;
    margin-top: 2px;
  }
  .upload-picture_main form .publish {
    margin-top: 25px;
    width: 360px;
  }
}
@media (max-width: 400px) {
  .upload-picture_main {
    display: flex;
    justify-content: center;
    padding: 0px;
  }
  .upload-picture_main form {
    grid-template-columns: 300px 1fr;
    grid-template-rows: 203px auto 1fr;
    grid-template-areas: 'picture picture' 'content content' 'publish publish';
  }
  .upload-picture_main form .content {
    width: 300px;
  }
  .upload-picture_main form .picture {
    height: 203px;
  }
  .upload-picture_main form .picture .picture-style {
    width: 300px;
    height: 203px;
    margin-top: 2px;
  }
  .upload-picture_main form .publish {
    margin-top: 25px;
    width: 300px;
  }
}
@media (max-width: 350px) {
  .upload-picture_main {
    display: flex;
    justify-content: center;
    padding: 0px;
  }
  .upload-picture_main form {
    grid-template-columns: 280px 1fr;
    grid-template-rows: 175px auto 1fr;
    grid-template-areas: 'picture picture' 'content content' 'publish publish';
  }
  .upload-picture_main form .content {
    width: 280px;
  }
  .upload-picture_main form .picture {
    height: 175px;
  }
  .upload-picture_main form .picture .picture-style {
    width: 280px;
    height: 175px;
    margin-top: 2px;
  }
  .upload-picture_main form .publish {
    margin-top: 25px;
    width: 280px;
  }
}
