.affirm {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 203000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.2);
}
.affirm-tooltip {
  overflow: auto;
  width: 400px;
  height: 178px;
  background: #fff;
  border-radius: 2px;
}
.affirm-title {
  margin-top: 40px;
  font-size: 24px;
  font-weight: 500;
  color: #121212;
  text-align: center;
}
.affirm-content {
  -webkit-box-flex: 1;
  -ms-flex: 1 1;
  flex: 1 1;
  padding: 0 24px 32px;
  margin-top: 24px;
  line-height: 1.7;
  opacity: 1;
}
.affirm-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-top: 48px;
}
.Button {
  flex: 1 1;
  display: inline-block;
  padding: 0 16px;
  font-size: 14px;
  line-height: 32px;
  text-align: center;
  cursor: pointer;
  background: none;
  border: 1px solid;
  border-radius: 3px;
}
.Button-black {
  background-color: #000;
  color: #fff;
  margin-left: 20px;
}
