.card-button {
  color: #767676;
  background-color: hsla(0, 0%, 100%, 0.9);
  border: 1px solid #d1d1d1;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.06);
  height: 32px;
  padding: 0 11px;
  font-size: 14px;
  line-height: 30px;
  margin-right: 6px;
  display: inline-block;
  border-radius: 4px;
  text-align: center;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  outline: 0;
}
.card-button:hover {
  color: #000;
  transition: all 0.2s ease-in-out;
}
