.main-search {
  position: relative;
  height: 600px;
  margin-bottom: 10px;
  color: #fff;
  margin: 32px;
}
.main-search img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.main-search .main-search-superstratum {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsla(0, 0%, 10%, 0.4);
}
.main-search .main-search-superstratum .search-superstratum-center {
  display: flex;
  justify-content: center;
  padding-top: 144px;
  padding-bottom: 152px;
}
.main-search .main-search-superstratum .search-superstratum-center .search-superstratum-content {
  max-width: 864px;
  width: 66.66667%;
  line-height: 1.5;
}
.main-search .main-search-superstratum .search-superstratum-center .search-superstratum-content span {
  font-size: 46px;
  font-weight: 700;
  line-height: 1.2;
}
.main-search .main-search-superstratum .search-superstratum-center .search-superstratum-content div h1 {
  margin-top: 16px;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 18px;
}
.main-search .main-search-superstratum .search-superstratum-center .search-superstratum-content div p {
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 24px;
}
.main-search .main-search-superstratum .search-superstratum-center .search-superstratum-content .main-search-box {
  position: relative;
  width: 100%;
  height: 54px;
  display: flex;
  justify-content: flex-star;
  border-radius: 4px;
  background-color: #f5f5f5;
  color: #767676;
}
.main-search .main-search-superstratum .search-superstratum-center .search-superstratum-content .main-search-box .main-search-button {
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  font-size: 16px;
  height: 100%;
  border: none;
  padding: 0;
  background-color: initial;
  text-align: inherit;
}
.main-search .main-search-superstratum .search-superstratum-center .search-superstratum-content .main-search-box .main-search-button .search-button-32 {
  width: 32px;
  height: 32px;
  display: block;
}
.main-search .main-search-superstratum .search-superstratum-center .search-superstratum-content .main-search-box input {
  display: inline-block;
  display: flex;
  flex-grow: 1;
  height: 100%;
  border: none;
  padding: 0;
  background-color: initial;
  text-align: inherit;
}
.main-search .main-search-superstratum .search-superstratum-center .search-superstratum-content .main-search-box:hover {
  box-shadow: 0px 0px 1px 4px rgba(0, 0, 0, 0.1);
}
.main-search .main-search-superstratum .search-buttom {
  position: absolute;
  bottom: 0px;
  padding: 20px;
  width: 100%;
  text-align: center;
  color: hsla(0, 0%, 100%, 0.8);
}
.main-search .main-search-superstratum .search-buttom a {
  color: #fff;
}
.main-search .main-search-superstratum .search-buttom span:nth-child(1) {
  float: left;
}
.main-search .main-search-superstratum .search-buttom span:nth-child(3) {
  float: right;
}
@media (max-width: 1024px) {
  .main-search {
    height: 400px;
  }
  .main-search .main-search-superstratum .search-superstratum-center {
    display: flex;
    justify-content: center;
    padding-top: 90px;
    padding-bottom: 0px;
  }
  .main-search .main-search-superstratum .search-buttom span:nth-child(2) {
    display: none;
  }
}
@media (max-width: 767px) {
  .main-search {
    height: 312px;
    margin: 0;
  }
  .main-search .main-search-superstratum .search-superstratum-center {
    display: flex;
    justify-content: flex-start;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 85px;
    padding-bottom: 0px;
  }
  .main-search .main-search-superstratum .search-superstratum-center .search-superstratum-content {
    width: 100%;
    line-height: 1.5;
  }
  .main-search .main-search-superstratum .search-superstratum-center .search-superstratum-content span {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.2;
  }
  .main-search .main-search-superstratum .search-superstratum-center .search-superstratum-content div h1 {
    font-size: 15px;
  }
  .main-search .main-search-superstratum .search-superstratum-center .search-superstratum-content div p {
    font-size: 15px;
  }
  .main-search .main-search-superstratum .search-superstratum-center .search-superstratum-content .main-search-box {
    display: none;
  }
  .main-search .main-search-superstratum .search-buttom {
    padding: 20px 10px;
  }
  .main-search .main-search-superstratum .search-buttom span:nth-child(3) {
    display: none;
  }
}
@media (max-width: 479px) {
  .main-search {
    height: 208px;
    margin: 0;
  }
  .main-search .main-search-superstratum .search-superstratum-center {
    padding-top: 35px;
  }
  .main-search .search-buttom {
    padding: 10px;
  }
}
@media (max-width: 360px) {
  .main-search .main-search-superstratum .search-superstratum-center .search-superstratum-content div h1 {
    font-size: 13px;
  }
  .main-search .main-search-superstratum .search-superstratum-center .search-superstratum-content div p {
    font-size: 13px;
  }
  .main-search .main-search-superstratum .search-buttom span {
    font-size: 13px;
  }
}
