.search-failure {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.search-failure .search-failure-icon {
  display: flex;
  justify-content: center;
  max-width: 510px;
  margin: 0 auto 20px;
}
.search-failure .search-failure-icon img {
  width: 100%;
  height: 100%;
}
.search-failure h3 {
  max-width: 620px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
  font-size: 24px;
}
.search-failure p {
  display: flex;
  justify-content: center;
  font-size: 14px;
}
.search-failure button {
  display: block;
  width: 144px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  position: relative;
  margin: 20px auto;
  background: #0a0a0a;
  border-radius: 23px;
  font-size: 12px;
  color: #fff;
  cursor: pointer;
  border: 0;
  outline: none;
}
@media (max-width: 550px) {
  .search-failure p {
    font-size: 12px;
    color: #333;
  }
}
