.sidebar {
  background-color: #fff;
  display: flex;
  justify-content: center;
  padding: 32px;
  position: sticky;
  top: 0;
  height: 100vh;
  box-sizing: border-box;
  z-index: 9999;
}
.sidebar .sidebar_toolbar .sidebar_toolbar_item {
  margin-bottom: 64px;
  cursor: pointer;
}
.sidebar .sidebar_toolbar .sidebar_toolbar_item > a {
  display: block;
  width: 100%;
  height: 100%;
}
.sidebar .sidebar_toolbar .sidebar_toolbar_item_circle-32 {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
.sidebar .sidebar_toolbar .sidebar_toolbar_item_circle-32 img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.sidebar .sidebar_toolbar .sidebar_toolbar_item_square-32 {
  width: 32px;
  height: 32px;
}
.beian {
  position: absolute;
  bottom: 2px;
  left: 2px;
  writing-mode: vertical-lr;
  -webkit-writing-mode: vertical-lr;
  -ms-writing-mode: vertical-lr;
  font-size: 12px;
}
@media (max-width: 767px) {
  .sidebar {
    width: 100%;
    height: 64px;
    bottom: 0;
  }
  .sidebar .sidebar_toolbar {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }
  .sidebar .sidebar_toolbar .sidebar_toolbar_item {
    margin: 16px;
    margin-bottom: 16px;
  }
  .beian {
    display: none;
  }
}
